@model ContactsModel

@{
    ViewData["Title"] = "Contacts";
}
<h1> @ViewData["Title"]</h1>

<p>Name: <b>@Model.Name</b></p>
<p>Number: <b>@Model.numberPhohe</b></p>
<p>Adress: <b>@Model.adress</b></p>